<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="TraditionSongsPath" value="C:\BallparkMusic\TraditionSongs"/>
    <add key="FullOrganAndMiscPath" value="C:\BallparkMusic\FullOrganAndMisc"/>
    <add key="SongsPath" value="C:\BallparkMusic\Songs"/>
    <add key="SavedQueuesFolderPath" value="C:\BallparkMusic\SavedQueues"/>
    <add key="SoundClipsPath" value="C:\BallparkMusic\SoundClips"/>
    <add key="WalkUpSongsPath" value="C:\BallparkMusic\WalkUpSongs"/>
    <add key="PlayersFilePath" value="C:\BallparkMusic\Players.txt"/>
    <add key="PositionsFilePath" value="C:\BallparkMusic\Positions.txt"/>
  </appSettings>
</configuration>
